<h1 mat-dialog-title>Calificar Diagnostico</h1>
<div mat-dialog-content class="flex flex-col gap-5 justify-center items-center">
  <p class="text-wrap text-justify max-w-xs">
    Queremos saber que te parecio la predicion
  </p>
  <form [formGroup]="calificationForm">
    <app-rating (onRating)="handleRating($event)"></app-rating>
    <mat-form-field class="block">
      <mat-label>Descripcion</mat-label>
      <textarea
        matInput
        formControlName="description"
        class="w-full"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="start">
  <button mat-raised-button color="warn" (click)="onClose()">Cerrar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submitCalification()"
    cdkFocusInitial
  >
    Enviar
  </button>
</div>
